<app-header></app-header>
<app-sidebar></app-sidebar>

<div class="dashboard-header">
  <h2 class="dashboard-title">Company News</h2>
  <nav class="breadcrumb">
    <a href="#">Home</a> &gt;
    <a href="#">More</a> &gt;
    <span>Company News</span>
  </nav>
</div>

<div class="tab-container p-4">

  <!-- Filter Bar -->
  

  <!-- News Listing -->
  <div class="news-list row g-4">
    
    <!-- Single News Card -->
    <div class="col-md-6 col-lg-4" *ngFor="let news of newsList">
      <div class="news-card p-3 shadow-sm rounded bg-white h-100 d-flex flex-column justify-content-between">
        <div>
          <div class="news-header d-flex justify-content-between align-items-start">
            <h5 class="fw-semibold mb-2">{{ news.Title }}</h5>
            <span class="news-date text-muted">{{ news.Date | date:'dd-MMM-yyyy' }}</span>
          </div>
          <br>
        
          <p class="news-desc text-muted">{{ news.Description }}</p>
        </div>

      </div>
    </div>

  </div>

</div>

<app-footer></app-footer>
