<app-header></app-header>
<app-sidebar></app-sidebar>

<!-- DAILY WORKING HOURS - MULTIPLE EMPLOYEE SELECTION -->
<div class="dashboard-header">
  <h2 class="dashboard-title">Early Departures</h2>
  <nav class="breadcrumb">
    <a href="#">Home</a> &gt;
    <a href="#">Attendance</a> &gt;
    <span>Early Departures</span>
  </nav>
</div>

<div class="tab-container mt-4">
  <div class="card p-4 shadow-sm">

    <form [formGroup]="filterForm" (ngSubmit)="onFilter()" class="row g-3 mb-4">

      <div class="col-md-4">
        <label class="form-label">Employee Code</label>
         <select class="form-select" formControlName="employeeCode">
          <option value="">All Employees</option>
          <option *ngFor="let emp of employees" [value]="emp.employeeCode">
            {{ emp.fullName }} ({{ emp.employeeCode }})
          </option>
        </select>
      </div>

      <div class="col-md-3">
        <label class="form-label">From Date</label>
        <input type="date" class="form-control" formControlName="fromDate">
      </div>

      <div class="col-md-3">
        <label class="form-label">To Date</label>
        <input type="date" class="form-control" formControlName="toDate">
      </div>

      <div class="col-md-2 d-flex align-items-end">
        <button class="btn btn-primary w-100" [disabled]="loading">
          {{ loading ? 'Loading...' : 'Filter' }}
        </button>
      </div>

    </form>

    <div class="table-responsive" >
      <table class="table table-bordered align-middle">
        <thead class="table-light">
          <tr>
            <th>Employee Name</th>
            <th>Employee Code</th>
            <th>Date</th>
            <th>Shift</th>
            <th>Scheduled End</th>
            <th>Clock Out</th>
            <th>Left Early By</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody >
          <tr *ngFor="let r of earlyDepartures">
            <td>{{ r.employeeName }}</td>
            <td>{{ r.employeeCode }}</td>
            <td>{{ r.attendanceDate }}</td>
            <td>{{ r.shiftName }}</td>
            <td>{{ r.shiftEndTime }}</td>
            <td>{{ r.clockOutTime }}</td>
            <td>{{ r.earlyByMinutes }} mins</td>
            <td>
              <span class="badge bg-warning text-dark">Early</span>
            </td>
             </tr>
            <tr *ngIf="!loading && earlyDepartures.length === 0">
          <td colspan="8" class="text-center text-muted">
          No early departures found
          </td>
        </tr>
          <tr *ngIf="loading">
          <td colspan="8" class="text-center">
            Loading...
          </td>
        </tr>
         
        </tbody>
      </table>
    </div>

 

  </div>
</div>

<app-footer></app-footer>
