<div class="card shadow-sm">
  <div class="container-fluid p-4">

    <div class="card shadow-sm p-3 mb-3">
      <h5>Add / Configure Event</h5>

      <form [formGroup]="eventForm" (ngSubmit)="saveEvent()">

        <div class="row g-3">

          <div class="col-md-4">
            <label class="form-label">Event Name</label>
            <input class="form-control" formControlName="eventName">
          </div>

          <div class="col-md-4">
            <label class="form-label">Event Type</label>
            <select class="form-select" formControlName="eventTypeId">
              <option value="">Select type</option>
              <option *ngFor="let t of eventTypes" [value]="t.eventTypeId">
                {{ t.eventTypeName }}
              </option>
            </select>
          </div>

          <div class="col-md-4">
            <label class="form-label">Event Date</label>
            <input type="date"
                   class="form-control"
                   formControlName="eventDate"
                   [min]="today">

            <div class="text-danger"
                 *ngIf="eventForm.get('eventDate')?.hasError('pastDate')">
              Past dates are not allowed
            </div>
          </div>

          <div class="col-md-4">
            <label class="form-label">Role</label>
            <select class="form-select" formControlName="roleId" (change)="loadEvents()">
              <option *ngFor="let r of roles" [value]="r.roleId">
                {{ r.roleName }}
              </option>
            </select>
          </div>

          <div class="col-md-12">
            <label class="form-label">Description</label>
            <textarea class="form-control"
                      rows="3"
                      formControlName="description"></textarea>
          </div>

          <div class="col-md-12 text-end">
            <button class="btn btn-primary" type="submit">
              {{ eventForm.value.eventId ? 'Update' : 'Publish' }} Event
            </button>
           
          </div>

        </div>
      </form>
    </div>

    <div class="card shadow-sm p-3">
      <h5>Events List 
        <span class="badge bg-primary ms-2">{{events?.length || 0}}</span>
        
      </h5>
         <!-- <div class="col-md-12 text-end">
         <button type="button" class="btn btn-secondary ms-2" (click)="loadEvents()">
              Refresh List
            </button>
      </div> -->


      <div *ngIf="events && events.length === 0" class="alert alert-warning">
        No events found. Click "Refresh List" button.
      </div>
   
      <div *ngIf="events && events.length > 0">
        <table class="table table-bordered table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th>#</th>
              <th>Event Name</th>
              <th>Type</th>
              <th>Date</th>
              <th>Role</th>
              <th>Description</th>
              <th class="text-center">Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let e of events; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ e.eventName }}</td>
              <td>{{ e.eventTypeName }}</td>
              <td>{{ e.eventDate | date:'dd-MMM-yyyy' }}</td>
              <td>{{ e.roleName || 'All' }}</td>
              <td>{{ e.description || '-' }}</td>
              <td class="text-center">
                <button class="btn btn-sm btn-outline-primary me-1"
                        (click)="editEvent(e.eventId)">
                  <i class="fa-solid fa-pen"></i>
                </button>

                <button class="btn btn-sm btn-outline-danger"
                        (click)="deleteEvent(e.eventId)">
                  <i class="fa-solid fa-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>